@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .primary-btn {
    @apply bg-primary text-white py-2 px-4 rounded-lg shadow-sm hover:shadow-md;
  }
}

html,
body {
  font-family: "Poppins", sans-serif; /* Updated to use Poppins */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  overflow-y: auto; /* Allow only the main browser scrollbar */
  height: 100%; /* Ensure full height */
  margin: 0; /* Remove any default margin */
  padding: 0; /* Remove any default padding */
}

main {
  height: 100%; /* Ensure the main content takes full height */
  overflow: hidden; /* Prevent inner scrollbars */
}

.container {
  overflow: visible !important; /* Ensure no inner scrollbars */
  max-width: 100%; /* Prevent horizontal overflow */
}

/* Ensure no overflow issues for motion.div elements */
.overflow-hidden {
  overflow: hidden;
}
