@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .primary-btn {
    @apply bg-primary text-white py-2 px-4 rounded-lg shadow-sm hover:shadow-md;
  }
}

html,
body {
  font-family: "Poppins", sans-serif; /* Updated to use Poppins */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  overflow-y: auto; /* Allow only the main browser scrollbar */
  height: 100%; /* Ensure full height */
  margin: 0; /* Remove any default margin */
  padding: 0; /* Remove any default padding */
}

main {
  height: 100%; /* Ensure the main content takes full height */
  overflow: hidden; /* Prevent inner scrollbars */
}

.container {
  overflow: visible !important; /* Ensure no inner scrollbars */
  max-width: 100%; /* Prevent horizontal overflow */
}

/* Ensure no overflow issues for motion.div elements */
.overflow-hidden {
  overflow: hidden;
}

/* Style for <h3> */
.styled-content h3 {
  font-size: 1.5rem; /* Tailwind equivalent: text-xl */
  font-weight: 700; /* Tailwind equivalent: font-bold */
  color: #144647; /* Tailwind equivalent: text-gray-800 */
  margin-bottom: 0.5rem; /* Tailwind equivalent: mb-2 */
  border-bottom: 2px solid #e5e7eb; /* Tailwind equivalent: border-gray-200 */
  padding-bottom: 0.25rem; /* Tailwind equivalent: pb-1 */
}

/* Style for <h4> */
.styled-content h4 {
  font-size: 1.25rem; /* Tailwind equivalent: text-lg */
  font-weight: 600; /* Tailwind equivalent: font-semibold */
  color: #144647/90; /* Tailwind equivalent: text-gray-700 */
  margin-bottom: 0.5rem; /* Tailwind equivalent: mb-2 */
}

/* Style for <p> */
.styled-content p {
  font-size: 1rem; /* Tailwind equivalent: text-base */
  color: #144647/90; /* Tailwind equivalent: text-gray-600 */
  margin-bottom: 1rem; /* Tailwind equivalent: mb-4 */
  line-height: 1.75; /* Tailwind equivalent: leading-relaxed */
}

/* Add spacing between sections */
.styled-content p + h3,
.styled-content p + h4 {
  margin-top: 1.5rem; /* Tailwind equivalent: mt-6 */
  border-bottom: 2px solid #e5e7eb; /* Tailwind equivalent: border-gray-200 */
  padding-bottom: 0.25rem; /* Tailwind equivalent: pb-1 */
}

/* Style for <ul> */
.styled-content ul {
  list-style-type: disc; /* Ensure bullets are displayed */
  margin-left: 1.5rem; /* Tailwind equivalent: ml-6 */
  margin-bottom: 1rem; /* Tailwind equivalent: mb-4 */
  color: #144647/90; /* Tailwind equivalent: text-gray-600 */
}

/* Style for <li> */
.styled-content li {
  margin-bottom: 0.5rem; /* Tailwind equivalent: mb-2 */
  line-height: 1.75; /* Tailwind equivalent: leading-relaxed */
  font-size: 1rem; /* Tailwind equivalent: text-base */
  color: #144647/90; /* Tailwind equivalent: text-gray-600 */
}
